*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Para quitarle ese borde azul al darle click */
}
html{
     font-size:62.5% /* 1rem = 10px */
}
.cancelInteractions-skeleton{
    width:100%;
    height:100vh;
    background-color: transparent;
    position: fixed;
    cursor: not-allowed;
    z-index: 1000;
}
* ::selection{
    background-color: red;
    color: rgb(255, 255, 255);
}
body::-webkit-scrollbar{
    width: 1.3rem;
    background-color: #c9c9c97d;
}
body::-webkit-scrollbar-thumb{
    background-color: #ff9d00;
    border-radius: 1rem;
}
.animate__rubberBand{
    animation-duration: 2s !important;
    animation-delay: 1s !important;
    animation-iteration-count: 6 !important;
}
body{
    background:#ffff;
    transition: all 1s ease;
}
body.dark{ /* Cuando el body tenga una clase llamada dark */
    background: #000;
}
header{
    position:absolute;
    background-color:#f7df1e;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
header .header-iconMenu {
    width:7rem;
    background-color:#f7df1e;
    border-radius:100%;
    padding:1.3rem;
    position:fixed;
    right:5vh;
    bottom:6vh;
    z-index:100;
    background-repeat: no-repeat;
}
header nav .menu{
    height:100vh;
    width:100%;
    position:absolute;
    background-color:#000000c5;
    left:0;
    z-index:1;
    margin-inline-start:-100%;
    padding-block-start:12rem;
    transition:all 1.4s;
    position:fixed;
}
header nav .mostrar {
	margin-inline-start:0;
	width:100%;
	height:100vh;
	transition:all 1.4s;
	overflow:auto;
}
header nav .menu .menu-item{
    list-style:none;
    width:100%;
    color:#000;
    text-align: center;
}
header nav .menu .menu-item:hover{
    background-color:#f7df1e;
    transition: all .5s ease;
}
header nav .menu .menu-item .menu-link{
    text-decoration:none;
    color:#f7df1e;
    width:inherit;
    display:flex;
    align-items:center;
    justify-content:center;
    height:10vh;
    font-size:2.5rem;
}
header nav .menu .menu-item:hover .menu-link{
    color:#000;
}
.main-header{
    position: fixed;
    width:100%;
    height:6rem;
    background-color:#f7df1e;
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-size:1.3rem;
    text-align:center;
    z-index: 1;
}
.main-header .changeBackground{
    width: 8rem;
    height: 3rem;
    background: #000;
    border-radius: 100rem;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    outline: none;
}
.main-header .changeBackground .changeBackground-btn{ /* En CSS, ::after crea un pseudo-elemento que es el último hijo del elemento seleccionado. Es comunmente usado para añadir contenido cosmético a un elemento con la propiedad content.Es en linea (inline) de forma predeterminada. AFTER ES COMO UN DIV, LA DIFERENCIA ES QUE NO SE ESCRIBE EL EL HTML SINO ACÁ */
    /* content: ""; esto es obligatorio SI SE PONE ::after*/
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    background-color:#F1F1F1;
    top: 0;
    left: 0;
    right: unset; /* Para que cuando se le dé click lo ponga al la derecha por eso aún no se declara la posición, cuando se le de click left para a unset y right a 0 */
    border-radius: 10rem;
    transition: all 1s ease;
    transform: translateX(0px);
    box-shadow: 0 0 .4rem .4rem rgba(0,0,0, .3);
}
.main-header .changeBackground.active{ /* Cuando se le agregue la clase active cambié de fondo nuestro botón */
    background-color: #000;
}
.main-header .changeBackground.active .changeBackground-btn{
    /* right: 0; LO QUITO YA QUE VOY A REALIZAR UNA ANIMACIÓN QUE VAYA DE LEFT 0 A 40PX HACIA LA DERECHA*/ 
    left: 0;
    transform: translateX(50px)
}
.main-header .changeBackground span{
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    line-height: 3rem;
    display: block;
    background: none;
    fill: #ffff;
}
.main-section{
    width:100%;
    height:100vh;
    padding-block-start:10rem;
    font-size:1.5rem;
}
.main-section .section-title{
    width:100%;
    display:flex;
    justify-content:center;
    text-align: center;
    transition: all 1s ease;
    margin-block-end: 5rem;
}
body.dark .main-section .section-title{
    color:#f7df1e;
}
.main-section .section-title h2 div{
    padding: .5rem;
    visibility: hidden;
}
.main-section1 #realTimeClock{
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    overflow: hidden;
    transition: all 1.5s ease;
}
.main-section1 #realTimeClock .realTimeClock-title{
    transition: all 1s ease;
}
body.dark .main-section1 #realTimeClock .realTimeClock-title{
    color:#ffff;
}
.main-section1 .section1-clock-buttons, .main-section1 .section1-music-buttons{
    width:100%;
    display:flex;
    justify-content:center;
    margin-block-start:2rem;
}
.main-section1 .section1-clock-buttons .clockButton{
    background-color:#ff0000;
    outline:none;
    margin-inline:1rem;
    border:solid 2px #000;
    border-radius:2rem;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
    transition: all 1s ease;
}
.main-section1 .section1-clock-buttons .clockButton div {
    margin: .7rem;
    visibility: hidden;
}
body.dark .main-section1 .section1-clock-buttons .clockButton{
    background-color:#bb00ff;
}
.main-section1 .section1-music-buttons .musicButton{
    background-color:#3cb42c;
    outline:none;
    margin-inline:1rem;
    border:solid 2px #000;
    border-radius:2rem;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
    transition: all 1s ease;
}
.main-section1 .section1-music-buttons .musicButton div{
    margin: .7rem;
    visibility: hidden;
}
body.dark .main-section1 .section1-music-buttons .musicButton{
    background-color: #ff7100;
}
.main-section1 .section1-clock-buttons .clockButton:hover, .main-section1 .section1-music-buttons .musicButton:hover{
    background-color:#2172eb;
    transition: all .2s ease;
}
body.dark .main-section1 .section1-clock-buttons .clockButton:hover, body.dark .main-section1 .section1-music-buttons .musicButton:hover{
    background-color: #ffff;
    color: #000;
}
.main-section2 .section2-stage{
    width:90%;
    height:60vh;
    margin:0 auto;
    margin-block-start:2rem;
    background-color:rgb(24, 21, 21);
    display:flex;
    transition: all 1s ease;
}
.main-section2 .section2-stage .section2-ball {
    margin: auto;
    width:4rem;
    height:4rem;
    background-color:#ff0000;
    border-radius:100%;
    transition:all .1s ease;
}
.main-section3 .section3-content{
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 1.7rem;
    margin-block-start: 2rem;
    transition: all 1s ease;
}
body.dark .main-section3 .section3-content{
    color: #ffff;
}
.main-section3 .section3-content h3 div{
    visibility: hidden;
}
.main-section3 .countdown{
    width: 90%;
    margin: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-block-start: 3rem;
    font-family: 'Baloo Chettan 2', cursive;
    transition: all 1s ease;
}
.main-section3 .countdown span{
    margin-block-end: 3rem;
    text-align: center;
} 
.main-section3 .countdown .time-element{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1.6rem;
    margin-block-end: 1rem;
    color: #ff0000;
    height: 11rem;
    width:11rem;
    background-color:#000;
    border-radius: .8rem;
    text-align: center;
    font-size: 3.5rem;
    overflow: hidden;
    transition: all 1s ease;
}
body.dark .main-section3 .countdown .time-element{
    background-color: #ff0000;
    color: #000;
}
.main-section3 .countdown .time-element > div{
    visibility: hidden;
}
.main-section3 .countdown .timeMeasurements{
    display: flex;
    justify-content: center;
    transition: all 1s ease;
}
body.dark .main-section3 .countdown .timeMeasurements{
    color: #ffff;
}
.main-section3 .countdown .timeMeasurements h3 div{
    visibility: hidden;
}
.main-section4 .section4-content{
    width:90%;
    height: auto;
    margin: 0 auto;
    margin-block-start: 2rem;
}
.main-section4 .section4-content .content-youtube, .main-section4 .section4-content .content-maps{
    width:100%;
    height: auto;
    margin-block-end: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}
.main-section4 .section4-content .content-youtube .youtube-title-mobile, .main-section4 .section4-content .content-maps .maps-title-mobile {
    text-align:center; 
    margin-block:2rem 1rem; 
    grid-column:1/3; 
    grid-row:1;
}
.main-section4 .section4-content > .content-youtube .youtube-title-desktop, .content-maps .maps-title-desktop{
    transition: all 1s ease;
}
body.dark .main-section4 .section4-content .content-youtube .youtube-title-desktop, body.dark .main-section4 .section4-content .content-maps .maps-title-desktop{
    color:#ff0000;
}
@media (min-width: 850px) {
    .main-section4 .section4-content .content-youtube, .main-section4 .section4-content .content-maps{
        width:47%;
    }
    .main-section4 .section4-content .content-youtube .youtube-title-desktop,  .main-section4 .section4-content .content-maps .maps-title-desktop{
        text-align:center; 
        margin-block:2rem 1rem; 
        grid-column:1/3;
        grid-row:1;
    }
    .main-section4 .section4-content{
        width:90%;
        height: auto;
        margin: 0 auto;
        margin-block-start: 2rem;
        display: flex;
        justify-content: space-around;
    }
} 
.main-section5 .content-operatingSystem-browser{
    text-align: center;
    font-size: 1.7rem;
    color: blue;
    font-weight: 500;
    flex-wrap: wrap;
    transition: all 1s ease;
    margin-block-end: 3rem;
}
body.dark .main-section5 .content-operatingSystem-browser{
    color: #ffff;
}
.main-section5 .content-operatingSystem-browser.browser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section5 .content-operatingSystem-browser.browser .operatingBrowser{
    display: flex;
    padding: .7rem;
    visibility: hidden;
}
.main-section5 .content-operatingSystem-browser.system{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-section5 .content-operatingSystem-browser.system .operatingSystem{
    display: flex;
    padding: .7rem;
    visibility: hidden;
}
.main-section5 .content-operatingSystem-browser.system .skeleton div{
    visibility: hidden;
}
.main-section5 .content-operatingSystem-browser .browser-name{
    width: 100%;
    color: #0008ff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
body.dark .main-section5 .content-operatingSystem-browser .browser-name{
    color:#ff6a00;
}
.main-section5 .content-operatingSystem-browser .browser-btn{
    position: relative;
    color: #000;
    background-color: #ff8d0066;
    border-radius: 1rem;
    border: none;
    padding: 1rem 2rem;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    overflow: hidden;
    cursor: pointer;
    transition: all 1s ease;
}
body.dark .main-section5 .content-operatingSystem-browser .browser-btn{
    background-color: #ff000091;
    color: #fff;
}
.main-section5 .content-operatingSystem-browser .browser-btn:hover{
    background-color: #ff8d00;
    box-shadow: 0 0 10px #ff8d00, 0 0 40px #ff8d00, 0 0 80px #ff8d00;
    transition-delay: 1s;
}
body.dark .main-section5 .content-operatingSystem-browser .browser-btn:hover{
    background-color: #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
}
.main-section5 .content-operatingSystem-browser .browser-btn span{
    position: absolute;
    display: block;
}
.main-section5 .content-operatingSystem-browser .browser-btn #span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: .4rem;
    background: linear-gradient(90deg, transparent, #ff0000);
    margin-block-start: .1rem;
}
body.dark .main-section5 .content-operatingSystem-browser .browser-btn #span1{
    background: linear-gradient(90deg, transparent, #ff8d00);
}
.main-section5 .content-operatingSystem-browser .browser-btn:hover #span1{
    left: 100%;
    transition: 1s;
}
.main-section5 .content-operatingSystem-browser .browser-btn #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: .4rem;
    background: linear-gradient(270deg, transparent, #ff0000);
}
body.dark .main-section5 .content-operatingSystem-browser .browser-btn #span3{
    background: linear-gradient(90deg, transparent, #ff8d00);
}
.main-section5 .content-operatingSystem-browser .browser-btn:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.main-section5 .content-operatingSystem-browser .browser-btn #span2{
    top: -100%;
    right: 0;
    width: .5rem;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0000);
    margin-inline-end: .1rem;
}
body.dark .main-section5 .content-operatingSystem-browser .browser-btn #span2{
    background: linear-gradient(90deg, transparent, #ff8d00);
}
.main-section5 .content-operatingSystem-browser .browser-btn:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.main-section5 .content-operatingSystem-browser .browser-btn #span4{
    bottom: -100%;
    left: 0;
    width: .5rem;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff0000);
}
body.dark .main-section5 .content-operatingSystem-browser .browser-btn #span4{
    background: linear-gradient(90deg, transparent, #ff8d00);
}
.main-section5 .content-operatingSystem-browser .browser-btn:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.95s;
}
.main-section5 .content-operatingSystem-browser .browser-logos{
    visibility: hidden;
    position: relative;
    left: -100%;
    transition: all 2s ease;
}
.main-section5 .content-operatingSystem-browser .browser-logos.show{
    visibility: visible;
    left: 0;
}
.main-section5 .content-operatingSystem-browser .browser-logos img{
    width: 5rem;
    padding: .4rem;
    opacity: 0.4;
}
.main-section6 .container-section6{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    transition: all 1.3s ease;
}
.main-section6 .container-section6 .selectBox{
    width: 100%;
    max-width: 36rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 3rem;
}
.main-section6 .container-section6 .selectBox .select{
    width: 100%;
    background-color: #f1f1f1;
    box-shadow:2px 2px 2px rgb(0 0 0 / 50%);
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    border: none;
}
.main-section6 .container-section6 .selectBox .select:hover{ 
    box-shadow: 4px 4px 9px 1px rgb(0 0 0 / 50%);
}
.main-section6 .container-section6 .selectBox .title{
    margin-block-end: 1rem;
    color: #000;
    font-weight:600;
    font-size: 2rem;
}
.main-section6 .container-section6 .selectBox .description{
    font-size: 1.6rem;
    color: #5a5a5a;
}
.main-section6 .container-section6 .selectBox .select .angle_down{
    width: 2rem;
}
.main-section6 .container-true .container-video .device-list{
    margin-block-start: 5rem;
    min-width: 19rem;
}
.main-section6 .container-error{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 2s ease;
    transform: translateX(-100%);
}
.main-section6 .container-video{
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 3s ease;
    transform: translateX(-100%);
}
.main-section6 .container-video .video{
    width: 80%;
    max-width: 60rem;
    border-radius: 3rem;
    box-shadow: -9px 9px 15px 2px rgb(0 0 0 / 50%);
}
.container-online{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.container-online .modal-online{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0%);
    transition: transform 2s;
}
.container-online .containerContent-online{
    width: 85%;
    height: 30vh;
    background-color: #0FD222;
    border-radius: 3.2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-online .containerContent-online .contentTitle-online{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 1.2rem;
    padding: 1rem;
    margin-block-end: 2rem;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.35);
}
.container-online .containerContent-online .contentTitle-online h2{
    width: 70%;
    text-align: left;
}
.container-online .containerContent-online .contentTitle-online .closeIcon-online{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.container-online .containerContent-online .contentTitle-online .closeIcon-online svg{
    width: 3rem;
    cursor: pointer;
}
.container-online .containerContent-online .statusMessage-online{
    width: 100%;
    background-color: #ffff;
    text-align: center;
    border-radius: 1.2rem;
    padding: 1rem;
    box-shadow: 10px 10px 8px rgb(0, 0, 0, 0.45);
}
.container-online .containerContent-online .statusMessage-online p{
    font-size: 1.3rem;
}
.container-offline{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.container-offline .modal-offline{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-250%);
    transition: transform 1s;
}
.container-offline .containerContent-offline{
    width: 70%;
    height: 30vh;
    background-color: #FF0000;
    border-radius: 3.2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-offline .containerContent-offline .contentTitle-offline{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 1.2rem;
    padding: 1rem;
    margin-block-end: 2rem;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.35);
}
.container-offline .containerContent-offline .contentTitle-offline h2{
    width: 70%;
    text-align: left;
}
.container-offline .containerContent-offline .contentTitle-offline .closeIcon-offline{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.container-offline .containerContent-offline .contentTitle-offline .closeIcon-offline svg{
    width: 3rem;
    cursor: pointer;
}
.container-offline .containerContent-offline .statusMessage-offline{
    width: 100%;
    background-color: #ffff;
    text-align: center;
    border-radius: 1.2rem;
    padding: 1rem;
    box-shadow: 10px 10px 8px rgb(0, 0, 0, 0.45);
}
.container-offline .containerContent-offline .statusMessage-offline p{
    font-size: 1.3rem;
}
.loading{
    position: relative;
    background-color: #d9d9d9 !important;
    overflow: hidden;
    transition: all 2s ease !important;
    border: none !important;
}
.loading:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: translateX(-100%);
    animation: loading 2s infinite;
}
@keyframes loading {
    100%{
        transform: translateX(100%);
    }
}
.scrollTop{
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 7rem;
    right: 5vh;
    bottom: 18vh;
    background:#f7df1e;
    padding: 1.3rem;
    border-radius:100%;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 2s ease;
    bottom:90vh;
}
.scrollTop:hover{
    background-color:rgb(43, 39, 39);
    transition: all .4s ease-in-out;
}
.scrollTop.active{ /* Que se le agregue a la clase .scollTop la clase .active en el html*/ 
    visibility: visible;
    opacity: 1;
    bottom:18vh;
    scroll-behavior: smooth;
}
.scrollTop svg{
    width:100%;
    transition: all .3s ease-in-out;
} 
.scrollTop:hover svg{
    fill:#f7df1e;
}
/* body.dark main .scrollTop:hover svg{
    
} */