*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Para quitarle ese borde azul al darle click */
}
html{
     font-size:62.5% /* 1rem = 10px */
}
body{
    background:#ffff;
    transition: all 2s ease;
}
body.dark{ /* Cuando el body tenga una clase llamada dark */
    background: #000;
}
header{
    position:absolute;
    background-color:#f7df1e;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
header .header-iconMenu {
    width:7rem;
    background-color:#f7df1e;
    border-radius:100%;
    padding:1.3rem;
    position:fixed;
    right:5vh;
    bottom:6vh;
    z-index:100;
    background-repeat: no-repeat;
}
header nav .menu{
    height:100vh;
    width:100%;
    position:absolute;
    background-color:#000000c5;
    left:0;
    z-index:1;
    margin-inline-start:-100%;
    padding-block-start:12rem;
    transition:all 1.4s;
    position:fixed;
}
header nav .mostrar {
	margin-inline-start:0;
	width:100%;
	height:100vh;
	transition:all 1.4s;
	overflow:auto;
}
header nav .menu .menu-item{
    list-style:none;
    width:100%;
    color:#000;
    text-align: center;
}
header nav .menu .menu-item:hover{
    background-color:#f7df1e;
    transition: all .5s ease;
}
header nav .menu .menu-item .menu-link{
    text-decoration:none;
    color:#f7df1e;
    width:inherit;
    display:flex;
    align-items:center;
    justify-content:center;
    height:10vh;
    font-size:2.5rem;
}
header nav .menu .menu-item:hover .menu-link{
    color:#000;
}
.main-header{
    position: fixed;
    width:100%;
    height:6rem;
    background-color:#f7df1e;
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-size:1.3rem;
    text-align:center;
}
.main-header .changeBackground{
    width: 8rem;
    height: 3rem;
    background: #000;
    border-radius: 100rem;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    outline: none;
}
.main-header .changeBackground .changeBackground-btn{ /* En CSS, ::after crea un pseudo-elemento que es el último hijo del elemento seleccionado. Es comunmente usado para añadir contenido cosmético a un elemento con la propiedad content.Es en linea (inline) de forma predeterminada. AFTER ES COMO UN DIV, LA DIFERENCIA ES QUE NO SE ESCRIBE EL EL HTML SINO ACÁ */
    /* content: ""; esto es obligatorio SI SE PONE ::after*/
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    background-color:#F1F1F1;
    top: 0;
    left: 0;
    right: unset; /* Para que cuando se le dé click lo ponga al la derecha por eso aún no se declara la posición, cuando se le de click left para a unset y right a 0 */
    border-radius: 10rem;
    transition: all 2s ease;
    transform: translateX(0px);
    box-shadow: 0 0 .4rem .4rem rgba(0,0,0, .3);
}
.main-header .changeBackground.active{ /* Cuando se le agregue la clase active cambié de fondo nuestro botón */
    background-color: #000;
}
.main-header .changeBackground.active .changeBackground-btn{
    /* right: 0; LO QUITO YA QUE VOY A REALIZAR UNA ANIMACIÓN QUE VAYA DE LEFT 0 A 40PX HACIA LA DERECHA*/ 
    left: 0;
    transform: translateX(50px)
}
.main-header .changeBackground span{
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    line-height: 3rem;
    display: block;
    background: none;
    fill: #ffff;
}
.scrollTop{
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 7rem;
    right: 5vh;
    bottom: 18vh;
    background:#f7df1e;
    padding: 1.3rem;
    border-radius:100%;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 2s ease;
    bottom:90vh;
}
.scrollTop:hover{
    background-color:rgb(43, 39, 39);
    transition: all .4s ease-in-out;
}
.scrollTop.active{ /* Que se le agregue a la clase .scollTop la clase .active en el html*/ 
    visibility: visible;
    opacity: 1;
    bottom:18vh;
    scroll-behavior: smooth;
}
.scrollTop svg{
    width:100%;
    transition: all .3s ease-in-out;
} 
.scrollTop:hover svg{
    fill:#f7df1e;
}
/* body.dark main .scrollTop:hover svg{
    
} */
.main-section{
    width:100%;
    height:100vh;
    padding-block-start:9rem;
    font-size:1.5rem;
}
.main-section .section-title{
    width:100%;
    display:flex;
    justify-content:center;
    text-align: center;
    transition: all 2s ease;
    margin-block-end: 5rem;
}
body.dark .main-section .section-title{
    color:#f7df1e;
}
body.dark .main-section1 #realTimeClock .realTimeClock-title{
    color:#ffff;
}
.main-section1 .section1-clock-buttons, .main-section1 .section1-music-buttons{
    width:100%;
    display:flex;
    justify-content:center;
    margin-block-start:2rem;
}
.main-section1 .section1-clock-buttons .clockButton{
    background-color:#ff0000;
    outline:none;
    margin-inline:1rem;
    padding:.7rem;
    border:solid 2px #000;
    border-radius:2rem;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
    transition: all .5s ease;
}
body.dark .main-section1 .section1-clock-buttons .clockButton{
    background-color:#bb00ff;
}
.main-section1 .section1-music-buttons .musicButton{
    background-color:#3cb42c;
    outline:none;
    margin-inline:1rem;
    padding:.7rem;
    border:solid 2px #000;
    border-radius:2rem;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
    transition: all .5s ease;
}
body.dark .main-section1 .section1-music-buttons .musicButton{
    background-color: #ff7100;
}
.main-section1 .section1-clock-buttons .clockButton:hover, .main-section1 .section1-music-buttons .musicButton:hover{
    background-color:#2172eb;
    transition: all .2s ease;
}
body.dark .main-section1 .section1-clock-buttons .clockButton:hover, body.dark .main-section1 .section1-music-buttons .musicButton:hover{
    background-color: #ffff;
    color: #000;
}
.main-section2 .section2-stage{
    width:90%;
    height:60vh;
    margin:0 auto;
    margin-block-start:2rem;
    background-color:rgb(24, 21, 21);
    display:flex;
}
.main-section2 .section2-stage .section2-ball {
    margin: auto;
    width:4rem;
    height:4rem;
    background-color:#ff0000;
    border-radius:100%;
    transition:all .1s ease;
}
.main-section3 .section3-content{
    text-align: center;
    font-size: 1.7rem;
    margin-block-start: 2rem;
    transition: all 2s ease;
}
body.dark .main-section3 .section3-content{
    color: #ffff;
}
.main-section3 .countdown{
    width: 90%;
    margin: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-block-start: 3rem;
    font-family: 'Baloo Chettan 2', cursive;
    transition: all 2s ease;
}
.main-section3 .countdown span{
    margin-block-end: 3rem;
    text-align: center;
} 
.main-section3 .countdown .time-element{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1.6rem;
    margin-block-end: 1rem;
    color: #ff0000;
    height: 11rem;
    width:11rem;
    background-color:#000;
    border-radius: .8rem;
    text-align: center;
    font-size: 3.5rem;
    overflow: hidden;
    transition: all 2s ease;
}
body.dark
.main-section3 .countdown .time-element{
    background-color: #ff0000;
    color: #000;
}
.main-section3 .countdown .timeMeasurements{
    transition: all 2s ease;
}
body.dark .main-section3 .countdown .timeMeasurements{
    color: #ffff;
}
.main-section4 .section4-content{
    width:90%;
    height: auto;
    margin: 0 auto;
    margin-block-start: 2rem;
}
.main-section4 .section4-content .content-youtube, .main-section4 .section4-content .content-maps{
    width:100%;
    height: auto;
    margin-block-end: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}
.main-section4 .section4-content .content-youtube .youtube-title-mobile, .main-section4 .section4-content .content-maps .maps-title-mobile {
    text-align:center; 
    margin-block:2rem 1rem; 
    grid-column:1/3; 
    grid-row:1;
}
.main-section4 .section4-content > .content-youtube .youtube-title-desktop, .content-maps .maps-title-desktop{
    transition: all 2s ease;
}
body.dark .main-section4 .section4-content .content-youtube .youtube-title-desktop, body.dark .main-section4 .section4-content .content-maps .maps-title-desktop{
    color:#ff0000;
}
.main-section5 .content-operatingSystem-browser{
    text-align: center;
    font-size: 1.7rem;
    color: blue;
    font-weight: 500;
    display: flex;
    justify-content: center;
    transition: all 2s ease;
}
body.dark .main-section5 .content-operatingSystem-browser{
    color: #ffff;
}
@media (min-width: 850px) {
    .main-section4 .section4-content .content-youtube, .main-section4 .section4-content .content-maps{
        width:47%;
    }
    .main-section4 .section4-content .content-youtube .youtube-title-desktop,  .main-section4 .section4-content .content-maps .maps-title-desktop{
        text-align:center; 
        margin-block:2rem 1rem; 
        grid-column:1/3;
        grid-row:1;
    }
    .main-section4 .section4-content{
        width:90%;
        height: auto;
        margin: 0 auto;
        margin-block-start: 2rem;
        display: flex;
        justify-content: space-around;
    }
} 